* {
    box-sizing: border-box;
}

.Hero-Section {
    width: auto;
    padding: 20px;
    border: 10px ridge rgb(232, 58, 58);
    margin: 0px;
    
    /*cambiar a background-image despues*/
    background-image: url(iesCaminasBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Hero-Section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    
}

.Indices ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    list-style: none;
}

.Indices a {
    text-decoration: none;
    color: white;
}

.Main-Section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.682);
    padding: 30px;
    justify-content: center;
}

.Main-article-1 {
    width: 100%;
    background-color: rgba(197, 147, 234, 0.555);
    border-radius: 15px;
    margin: 0px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.682);
    padding: 10px;
    justify-content: center;
}

.Main-article-2 {
    width: 100%;
    background-color: rgba(197, 147, 234, 0.555);
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.682);
    padding: 10px;
    justify-content: center;
}

.Footer-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*para celulares*/
@media (max-width: 768px) {
    .Indices ul {
        flex-direction: column;
    }
}